@using LocalVenue.Core.Enums
@using LocalVenue.Shared.Enums
@using LocalVenue.Web.Models
@using LocalVenue.Web.Components.JoltyUI
@code {
    [Parameter] public List<Ticket>? Tickets { get; set; }
}

@if (Tickets is null)
{
    return;
}
<div class="seat-display">
    @foreach (var row in Tickets.GroupBy(s => s.Seat.Row).OrderBy(g => g.Key))
    {
        <div class="seat-row">
            @foreach (var seat in row.OrderBy(s => s.Seat.Number))
            {
                <div class="seat pointer" data-ui-toggle="@seat.PopOverId" style="background-color: @(GetSeatColor(seat.Status))"></div>
                <PopOver ShowCloseX="false" Title="@string.Empty" Direction="Direction.Top" Size="PopOverSize.Small"  Id="@seat.PopOverId">
                    <Body>
                    <div class="p4">
                        @if (seat.Status == Status.Available)
                        {
                            <p class="mb-2">Seat: @seat.Seat.Row - Row: @seat.Seat.Number</p>
                            <p>Pris: @seat.Price.ToString("C2")</p>
                        } else if (seat.Status == Status.Reserved)
                        {
                            
                        }
                        </div>
                    </Body>
                    <FooterContent/>
                </PopOver>
                
            }
        </div>
    }
</div>



<style>
    .seat-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seat-row {
        display: flex;
        margin-bottom: 10px;
    }
    .seat {
        width: 30px;
        height: 30px;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
    }
</style>

@code {
    private string GetSeatColor(Status status)
    {
        return status switch
        {
            Status.Available => "lightgreen",
            Status.Sold => "red",
            Status.Reserved => "yellow",
            _ => "gray"
        };
    }
}